<div class="bg"></div>

<div class="container">
  <div class="hotAndReady">
    <h2>Hot and Fresh</h2>
    <div>
      {{#each burgers}}
        {{#unless eaten}}
          {{> burgers/burger eaten=false}}
        {{/unless}}
      {{/each}}
    </div>
  </div> 

  <div class="eatenBurgers">
    <h2>Burgers Eaten</h2>
    <div>
      {{#each burgers}}
        {{#if eaten}}
          {{> burgers/burger eaten=true}}
        {{/if}}
      {{/each}}
    </div>
  </div>

  <div class="burgerInput">
    <!-- <h2>Add a Burger</h2> -->
    <form class="create-form">
      <div class="form-group">
        <label for="ca">Add a Burger:</label>
        <input type="text" id="ca" name="name">
      </div>
      <button type="submit">Add Burger</button>
    </form>
  </div>
</div>
