
<p>
	{{burger_name}}
	
	{{#unless eaten}}
		<button class="eatMe" data-id="{{id}}" data-eaten="{{true}}">
			Eat Me
		</button>
	{{/unless}}
	
    {{#if eaten}}
		<button class="delete" data-id="{{id}}">
			DELETE
		</button>
    {{/if}}
</p>
